body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(../img/Intro_Page_Desktop_1.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
} 

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    padding: 10px;
    margin-top:25px;
    margin-left: 25px;
    margin-right: 42.5%;        
} 

    .logo{
        display: flex;
        align-items: center;
    }

    .logo img{
        height: 70px;
        width: 100%;
    }

    h1{
        color: azure;
        text-shadow: 0px 5px 10px black;
    }

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

    form{
        display: flex; 
        flex-direction: column;
        color:black;
        text-align: center;
        padding: 20px;
        width: 350px;
        box-shadow: 0px 5px 10px black;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 15px;
        border: 1px azure outset;
    }

        .columns{
            background: none;
            outline: none;
            border: none;
            color: azure;
            border-bottom:solid 1px #ffd600;
            font-size: 18px;
            margin: 10px 0;
            width: 100%;
            text-align: start;
        }

        .columns input{
            background: none;
            outline: none;
            border: none;
            font-size: 18px;
            width: 90%;
            color: azure;
        }
        .columns span .fa-solid{
            cursor: pointer;
        }

        input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }

        form input::placeholder{
            color: azure;
        }

        .contenedorfiles{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin: 10px 0;
            box-sizing: border-box;
        }

        .subir_image{
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
        }

        p{
            color: azure;
            font-size: 12px;
            word-wrap: break-word;
            box-sizing: border-box;
            width: 100%;
            text-align: justify;
            width: 70%;
        }

        input[type=file]{
            display: none;
        }

        .button_image{
            width: 70%;
            color: azure;
            background: linear-gradient(to bottom,#1158BF,#061C3D);
            padding: 15px 5px;
            font-size: 18px;
            border: 2px outset azure;
            border-radius: 10px;
            cursor: pointer;
        }
            .button_image:hover{
                color: #0ade46;
                border-color: #0ade46;
            }
        
        .button_image .fa-regular{
            font-size: 40px;
            padding-bottom: 5px;
        }

        .boton{
            color: #ffd600;
            border-color:azure;
            background: linear-gradient(to bottom,#1158BF,#061C3D);
            padding: 10px 15px;
            margin:0%;
            cursor: pointer;
            font-size: 20px;
            border-radius: 15px; 
        }

            input[type=submit]{
                font-weight: bold;
            }

            .boton:hover{
                color: #0ade46;
                border-color:#0ade46;
            }

/* Estilos para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background-color: black; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
    background-color: none; /* Color del thumb */
    border-radius: 15px; /* Radio de borde del thumb */
    border:2px outset azure;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
    border-color: #0ade46;

}

#error-message{
    display: none;
    color: #fd0505;
    margin-bottom: 10px;
    /* font-weight: bold; */
    border: #fd0505 1px outset;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px black;
    box-sizing: border-box;
    /* width: 100%; */
}

#exito-message{
    display: none;
    color: #0ade46;
    margin-bottom: 10px;
    /* font-weight: bold; */
    border: #0ade46 1px outset;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px black;
    box-sizing: border-box;
    /* width: 100%; */
}

@media (max-width:700px){
    header{flex-direction: column;
        margin:0px;
        padding:0;        
    }
}