body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(../img/Intro_Page_Desktop_1.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;      
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    align-items: center;
    padding: 10px;
    margin-top:25px;
    margin-left: 25px;
    margin-right: 25px;           
} 

.logo{
    display: flex;
    align-items: center;    
}
    .logo img{
        height: 46px;
        width: 100%;   
    }

form{
    display: flex;
    flex-direction: column;
    color:black;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 5px 10px black;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;   
    border: 1px azure;  
    border-style: outset;   
}

    form label{
        margin-bottom: 20px;
    }

    form .fa-solid{
        font-size:20px;
        color: #ffd600;
        margin-right: 10px;
    }

    form input{
        background: none;
        outline: none;
        border: none;
        color: azure;
        border-bottom:solid 1px #ffd600;
        padding: 0 5px;
        font-size: 18px;
    }

    input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    form input::placeholder{
        color: azure;
    }

    form .link{
        text-decoration: none;
        color: #ffd600;
        margin-bottom: 15px;
    }

    form button{
        color: #ffd600;
        /* border-color:rgba(255, 255, 255, 0.5); */
        border-color: azure;
        /* background:linear-gradient(to bottom,#2c19a5, #000); */
        background: linear-gradient(to bottom,#1158BF,#061C3D);
        padding: 10px 15px;
        margin:0%;
        cursor: pointer;
        font-size: 20px;
        border-radius: 15px; 
    }

    form button:hover{
        color: #0ade46;
        border-color:#0ade46;
    }

a:hover{
    color: #0ade46;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    height: 80px;
    color:azure;
}

footer p{
    font-size: 12px;
}

@media (max-width:400px){
    header{flex-direction: column;
        margin:0px;
        margin-bottom: 5px;    
    }
    form{flex-direction: column;    
        margin-top: 5px;
        margin-bottom: 5px;
    }
    footer{flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0px;
    }
}